<app-home></app-home>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="check-in">Check-In Date: </label>
    <input type="text" name="check-in" type="date" formControlName="checkInDate">
    <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
      <small style="color: red;">* Check In Date is required</small>
    </div>
  </div>
  <div>
    <label for="check-out">Check-Out Date: </label>
    <input type="text" name="check-out" type="date" formControlName="checkOutDate">
    <div *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
      <small style="color: red;">* Check Out Date is required</small>
    </div>
  </div>
  <div>
    <label for="guest-name">Guest Name: </label>
    <input type="text" name="guest-name" type="date" formControlName="guestName">
    <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
      <small style="color: red;">* Guest Name is required</small>
    </div>
  </div>
  <div>
    <label for="guest-email">Guest Email: </label>
    <input type="email" name="guest-email" formControlName="guestEmail">
    <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
      <small style="color: red;">* Guest Email is required</small>
    </div>
  </div>
  <div>
    <label for="room-number">Room Number: </label>
    <input type="number" name="room-number" formControlName="roomNumber">
    <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
      <small style="color: red;">* Room Number is required</small>
    </div>
  </div>

  <button type="submit" [disabled]="reservationForm.invalid">Sumbit</button>
</form>