<app-home></app-home>
<h2>Reservation List</h2>
<ul *ngIf="reservations.length; else noReservation">
  <li style="margin-bottom: 10px;" *ngFor="let reservation of reservations">
    Id: {{reservation.id}} <br>
    Guest Name: {{reservation.guestName}} <br>
    Guest Email: {{reservation.guestEmail}} <br>
    Room No: {{reservation.roomNumber}} <br>
    Check In Date: {{reservation.checkInDate}} <br>
    Check Out Date: {{reservation.checkOutDate}} <br>
    <button [routerLink]="['/edit' , reservation.id]">Update</button>
    <button (click)="deleteReservation(reservation.id)">Delete</button>
  </li>
</ul>

<ng-template #noReservation>
  <p>No Reservation available.</p>
</ng-template>